        <script src='../../src/compilers/e2.js'></script>
        <script src='../../src/compilers/TED2.js'></script>

link(href='index.styl',lang='styl')
script(src='index.coffee',lang'coffee')

.group
	.box this should be green