link(href='index.scss',lang='scss')
.group
	.title DEC
	a.card(href="http://ccpm.emb/spg/action/view/dashboard/?config=../cubes/alocacao.json")
		span Alocação
	a.card(href="http://ccpm.emb/spg/action/view/dashboard/?config=../cubes/controladoria.json")
		span Custo por Resultado
	//- .card
	//- 	span Horas Extras
	//- .card
	//- 	span Efetivo
.group
	.title E2
	a.card(href="http://ccpm.emb/spg/action/view/dashboard/?config=../cubes/custos_e2.js")
		span Custo
	a.card(href="http://ccpm.emb/spg/action/view/dashboard/?config=../cubes/engajamento_e2.js")
		span Engajamento
	a.card(href="http://ccpm.emb/spg/action/view/dashboard/?config=../cubes/horas_e2.json")
		span Horas

.group
	.title CCPM
	//- .card
	//- 	span Carga dos Recursos
	a.card(href="http://ccpm.emb/spg/action/view/dashboard/?config=../cubes/throughput.js")
		span Throughput
	//- .card
	//- 	span Atualização
	//- .card
	//- 	span Compromissos
	//- .card
	//- 	span Projetos
	//- .card
	//- 	span Simulações
	//- .card
	//- 	span Impedimentos