link(href='index.scss',lang='scss')
.group
	.title DEC
	.card
		span Alocação
	.card
		span Custo por Resultado
	.card
		span Horas Extras
	.card
		span Efetivo
.group
	.title E2
	.card
		span Custo
	.card
		span Engajamento
	.card
		span Horas

.group
	.title CCPM
	.card
		span Carga dos Recursos
	.card
		span Throughput
	.card
		span Atualização
	.card
		span Compromissos
	.card
		span Projetos
	.card
		span Simulações
	.card
		span Impedimentos